body, html {
    background-color: black;
}

#container {
    width: 700px;
    height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid white;
}

#current {
    width: 600px;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 80px;
}